<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Elasticsearch\Model\Config">
        <arguments>
            <argument name="engineList" xsi:type="array">
                <item name="typesense" xsi:type="string">typesense</item>
            </argument>
        </arguments>
    </type>

    <!-- Configuration: Catalog Search / Search Engine -->
    <type name="Magento\Search\Model\Adminhtml\System\Config\Source\Engine">
        <arguments>
            <argument name="engines" xsi:type="array">
                <item sortOrder="40" name="typesense" xsi:type="string">Typesense</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Search\Model\SearchEngine\Validator">
        <arguments>
            <argument name="engineValidators" xsi:type="array">
                <item name="typesense" xsi:type="object">MageOs\TypeSense\Setup\Validator</item>
            </argument>
        </arguments>
    </type>

    <!-- Resolver -->
    <type name="Magento\AdvancedSearch\Model\Client\ClientResolver">
        <arguments>
            <argument name="clientFactories" xsi:type="array">
                <item name="typesense" xsi:type="string">\MageOs\TypeSense\Model\Client\TypeSenseFactory</item>
            </argument>
            <argument name="clientOptions" xsi:type="array">
                <item name="typesense" xsi:type="string">\MageOs\TypeSense\Model\Config</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="MageOs\TypeSense\Model\Client\TypeSenseFactory" type="Magento\AdvancedSearch\Model\Client\ClientFactory">
        <arguments>
            <argument name="clientClass" xsi:type="string">MageOs\TypeSense\Model\SearchClient</argument>
            <argument name="typesense" xsi:type="string">MageOs\TypeSense\Model\TypeSense</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Elasticsearch\Elasticsearch5\Model\Client\ClientFactoryProxy">
        <arguments>
            <argument name="clientFactories" xsi:type="array">
                <item name="typesense" xsi:type="object">MageOs\TypeSense\Model\Client\TypeSenseFactory</item>
            </argument>
        </arguments>
    </type>

    <!-- Index -->
    <type name="Magento\CatalogSearch\Model\Indexer\IndexerHandlerFactory">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="typesense" xsi:type="string">MageOs\TypeSense\Indexer\IndexerHandler</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\CatalogSearch\Model\Indexer\IndexStructureFactory">
        <arguments>
            <argument name="structures" xsi:type="array">
                <item name="typesense" xsi:type="string">MageOs\TypeSense\Indexer\IndexStructure</item>
            </argument>
        </arguments>
    </type>
</config>
